.btn {
  display: inline-block;
  cursor: pointer;
  &--md {
    padding: 10px;
  }
}


.btn-more {
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
  top: 15px;
}




.primary-button {
  color: var(--textButton);
}
.checkbox {
  width: 120px;
    position: absolute;
    left: 0;
    opacity: 0;
    z-index: 1;
    padding: 10px;
    height: 38px;
    top: 6px;
    cursor: pointer;
}

.checkbox-decorator {
    height: 18px;
    z-index: 0;
}

.checkbox-group {
  display: flex;
  align-items: center;
  @include respond(tab-port) {
    justify-content: center;
    position: absolute;
    z-index: 2;
    right: 10px;
  }
  label {
    padding-left: 5px;
  }
}
