.data-number {
  font-size: 2.4rem;
  @extend .font-700;
  color: #29292b;
}
.data-activity {
  font-size: 1.4rem;
}
.data-activity__track {
  color: #692dff;
  margin-left: 5px;
  letter-spacing: 1px;
  &--green {
    color: #009688;
  }
  &--yellow {
    color: #ffc533;
  }
  &--orange {
    color: #FF5722;
  }
  &--red {
    color: #d21d0f;
  }
}




.icon-arrow {
  background: url('../../images/arrow.svg') no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  transform: rotate(-45deg);
  //filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);
  &--purple {
    filter: invert(77%) sepia(98%) saturate(6603%) hue-rotate(256deg) brightness(99%) contrast(105%);
  }
  &--green {
    filter: invert(50%) sepia(97%) saturate(3694%) hue-rotate(159deg) brightness(100%) contrast(102%);
  }
  &--yellow {
    filter: invert(50%) sepia(69%) saturate(561%) hue-rotate(0deg) brightness(87%) contrast(92%);
  }
  &--orange {
  //  fill: #fff;
    filter: invert(61%) sepia(77%) saturate(5652%) hue-rotate(346deg) brightness(103%) contrast(104%);
  }
  &--reverse {
    transform: rotate(-225deg);
  }
}

.arrow {
  fill: #fff;
}
