.btn-icon {
  border: 0;
  background: transparent;
}
.icon {
  display: inline-block;
}
.icon-wishlist {
  background: url('../../images/wishlist.svg');
  width: 18px;
  height: 18px;
}

.icon-portfolio {
  background: url('../../images/work.svg');
}

.icon-basket {
  background: url('../../images/basket.svg');
}

.icon-search {
  background: url('../../images/search.svg');
  height: 24px;
  width: 24px;
  position: absolute;
}

.icon-screen {
  background: url('../../images/screener.svg');
}
.icon-market {
  background: url('../../images/market-index.svg');
}
.icon-stock {
  background: url('../../images/stocks.svg');
}
.icon-learn {
  background: url('../../images/learn.svg');
}


.icon-more {
  background: url('../../images/more.svg');
  height: 16px;
  width: 16px;
  fill: #666;
}
