.rdt_TableHeadRow {
  .rdt_TableCol {
    &:nth-child(1) {
      min-width: 28%;
    }
    &:nth-child(7) {
      padding-right: 20px !important;
    }
    &:last-child {
      min-width: 12%;
    }
  }
}
.rdt_TableBody {
  .rdt_TableRow {
    .rdt_TableCell {
      &:nth-child(1) {
        min-width: 28%;
        border-right: 1px solid #edf2f7;
      }
      &:nth-child(7) {
        border-right: 1px solid #edf2f7;
        padding-right: 20px !important;
      }
      &:last-child {
        min-width: 12%;
      }
    }
  }
}

.rdt_TableCell {
  color: $color-black-2 !important;
}


.stock-details {
  grid-template-columns: 220px 120px;
  grid-gap: 30px;
}
