html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land-ipad) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 56.25%; //1 rem = 8px, 8/16 = 50%
    }

    // @include respond(big-desktop) {
    //     font-size: 75%; //1rem = 12, 12/16
    // }
}
@include respond (phone-land) {
  .container {
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}
* {
  box-sizing: border-box;
}
html {
  overflow: auto scroll;
  overscroll-behavior-y: none;
}
body {
  --bg: white;
  --textNormal: #222;
  --textHeadingOne: #222;
  --textButton: #444;
  --textGray: $color-black-4;
  --textLink: hsla(230, 92%, 61%, 1);
  --hr: hsla(0, 0%, 0%, 0.2);
  --textUltraGray: rgba(0,0,0,.05);
  --border: #ddd;
  background-color: var(--bg);
  --color-toggle: #000;
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #0c1213;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textHeadingOne: hsla(351, 90%, 80%, 1);
  --textButton: #f0f0f;
  --textUltraGray: hsla(45, 81%, 62%, 0.01);
  --textLink: hsla(230, 100%, 67%, 1);
  --border: hsl(45deg 100% 80% / 11%);
  --hr: hsla(0, 0%, 100%, 0.2);
  --color-toggle: hsla(45, 81%, 62%, 1);
}
// @media (min-width: 812px) and (max-width: 1024px) {
//     .container {
//         max-width: 100%;
//     }
// }

a.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}

a.skip-main:active, a.skip-main:focus {
    color: #d33a2c;
    background-color: #fff;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    overflow: auto;
    padding: .5em 1em;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
}
