.wrapper {
    flex: 1;
}

.head_block {
    background-position: right top;
    background-repeat: no-repeat;
    flex-basis: auto;
}

.header {
  background: #fff;
  flex-basis: auto;
  //border-right: 1px dashed #ddd;

}
.main {
  flex-basis: auto;
}
.header_block {
  width: 330px;
  border-right: 1px dashed #ddd;
  @media only screen and (max-width: 56.25em) {
    width: 100%;
    border-bottom: 1px dashed #ddd;
    border-right: 0;
    justify-content: center;
  }
}

.main_block {
  width: 940px;
  @media only screen and (max-width: 56.25em) {
    width: 100%;
  }
}
.aside_block {
  position: fixed;
}
.card {
  border-bottom: 5px dashed #fff;
}

.card_grid {
  //max-width: 820px;
}
.dice_one {
  position: fixed;
  left: 0;
  z-index: 0;
  width: 10vw;
  @media only screen and (max-width: 56.25em) {
    display: none;
  }
}
.dice_two {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 20vw;
  @media only screen and (max-width: 56.25em) {
    display: none;
  }
}
